.image img {
    /* width: 90%; */
    object-fit: cover;
    height: 400px !important;
}

.userImage img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.lastHome{
    background-color: rgba(0,0,0,.9);
}
